.Twitter-button {
  color: white !important;
  background: #001e3c !important;
  height: 65px;
  width: 220px;
}

.Container-header {
  padding-top: 50px;
  text-align: center;
  color: white !important;
}

.button-teste {
  text-align: center;
}
